<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cubs Heatmaps</title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="shortcut icon" href="https://s-media-cache-ak0.pinimg.com/originals/0f/25/ac/0f25ac39a7f7dd1a0d51de8462d0632e.gif" type="image/png"/>
</head>
<body>
  <div class="container">
    <iframe src="https://plot.ly/~nickdevlin1/0.embed" width="800" height="600"></iframe>
  <div>
</body>
</html>
